header {
  padding: 20px 20px 20px 20px;
  background-color: #6384ea;

  color: #2a2a2a;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

header a {
  color: #2a2a2a;
  text-decoration: none;
}
