@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

.stat {
  padding-left: 1.5rem;
  padding-bottom: 1.2rem;
  padding-top: 1.2rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  position: relative;
}

.stat h3 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  margin: 0;
  padding-bottom: 0.8rem;
}

.text-2xl {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  padding-bottom: 0.1rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 0;
  padding: 0;
  color: rgb(92, 92, 92);
}

i {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  color: rgb(92, 92, 92);
}
